# Multi-Language Support in Spark Kernels

Topics covered in this example:

* Using multi-language (Python, Scala, R and SQL) from within Spark Notebooks.
* Sharing data across language using temp tables/views.

***

## Prerequisites
<div class="alert alert-block alert-info">
<b>NOTE :</b> In order to execute this notebook successfully as is, please ensure the following prerequisites are completed.</div>

* The EMR cluster attached to this notebook should have the `Spark` application installed.
* The EMR cluster attached to this notebook should be version 6.4.0 or later.
* This notebook uses the `PySpark` kernel.
***

## Introduction

This example shows how to use multiple languages within Spark notebooks. You can mix and match Python, Scala, R and SQL from within Spark notebooks. Supported kernels are PySpark, Spark and SparkR kernels. 

***

The `%%pyspark` cellmagic allows users to write pyspark code in all Spark kernels

In [ ]:
%%pyspark
a = 1

The `%%sql` cellmagic allows users to execute Spark-SQL code. Here I am querying the tables in the default database.

In [ ]:
%%sql
SHOW TABLES

The `%%rspark` cell magic allows users to execute sparkr code.

In [ ]:
%%rspark
a <- 1

The `%%scalaspark` cell magic allows users to execute spark scala code. Note that here I am reading data from the temp table previously creating using Python.

In [ ]:
%%scalaspark
val a = 1

### Sharing Data using temp tables/views.

You can share data between languages using temp tables. Let's create a temp table using python in Spark:

In [ ]:
%%pyspark
df=spark.sql("SELECT count(1) from nyc_top_trips_report LIMIT 20")
df.createOrReplaceTempView("nyc_top_trips_report_v")

And now let's read the temp table using Scala:

In [ ]:
%%scalaspark
val df=spark.sql("SELECT * from nyc_top_trips_report_v")
df.show(5)